apiVersion: v1
kind: Secret
metadata:
  name: openttd-dorpsgek
  namespace: production
type: Opaque
stringData:
  sentryDsn: https://key@example/url
  gitHubAppId: APP_ID
  gitHubAppSecret: YOUR_SECRET
---
apiVersion: v1
kind: Secret
metadata:
  name: openttd-dorpsgek-files
  namespace: production
type: Opaque
stringData:
  github-app-private-key.pem: BASE64-ENCODED-PRIVATE-KEY
